form {
    display: grid;
    gap: 1rem;
    width: 400px;
    height: 600px;
    margin-left: 400px;
    margin-top: 30px;
    background-color: white;
    border-radius: 2%;
    border: 1px solid black;
    filter: drop-shadow(0 6px 5px var(--blue))
    drop-shadow(0 9px 30px var(--pink));
}
:root{
    --blue:rgb(83, 145, 217);
    --pink:rgb(211, 101, 215);
    --border: 2px solid rgb(188, 184, 184);
}
  
body{
    background-image: -webkit-linear-gradient( left right,var(--blue) 20%,var(--pink)  30%,white 50%);


}
h1{
    font-family: sans-serif;
    text-align: center;
   background: -webkit-linear-gradient(left,var(--blue),var(--pink));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
button{
    background: -webkit-linear-gradient(left,var(--blue),var(--pink) );
  border-radius: 100px; 
  height: 30px;
  border: none;
color: white;
margin-left: 10px;
margin-right: 10px;

}
label {

  
    padding-left: 10px;
   

}
input {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: var(--border);



}
select {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: var(--border)


}
textarea{
    width: 380px;
    border: none;
    border-bottom: var(--border)

}
